extends layout

block content
  div#chart-container-1
  div#chart-container-2
  div#chart-container-3
  div#chart-container-4
  div#chart-container-5
  div#chart-container-6
  div#chart-container-7
  div#chart-container-8